/*-------------------Defining_Fonts-------------------*/
@font-face {
	font-family:"Kingthings";
	src: url("../fonts/Kingthings.ttf");
}
@font-face {
	font-family:"transformers";
	src: url("../fonts/Transformers.ttf")
}
@font-face {
	font-family:"gang of three";
	src: url("../fonts/go3.ttf");
}
@font-face {
	font-family:"sf transrobotics";
	src: url("../fonts/SF TransRobotics.ttf");
}
@font-face {
	font-family:"aardvark cafe";
	src: url("../fonts/cafe.ttf")
}
@font-face {
	font-family:"starcraft";
	src: url("../fonts/starcraft.ttf")
}
@font-face {
	font-family:"TechnoClastic";
	src: url("../fonts/techno.ttf")
}
@font-face {
	font-family:"batmanforeveralternate";
	src: url("../fonts/batman.ttf")
}
@font-face {
	font-family:"cooldots";
	src: url("../fonts/Cooldots.ttf");
}
@font-face {
	font-family:"most wanted";
	src: url("../fonts/Most Wazted.ttf");
	font-weight:bold;
}
@font-face {
	font-family:"alien league";
	src: url("../fonts/ALIEN.TTF");
}
@font-face {
	font-family:"note this";
	src: url("../fonts/note_this.ttf")
}
@font-face {
	font-family:"Furmanite";
	src: url("../fonts/Furmanite.otf")
}
@font-face {
	font-family:"Cyberverse";
	src: url("../fonts/Cyberverse Condensed.otf")
}
@font-face {
	font-family:"Combatron";
	src: url("../fonts/Combatron.otf")
}
@font-face {
	font-family:"cybertron";
	src: url("../fonts/Cybertron Condensed.otf")
}
@font-face {
	font-family:"transdings";
	src: url("../fonts/Transdings.otf")
}
/*--------------------------------Styles---------------------------*/
#head {
	z-index:1;
}
#headback {
    position:fixed;
	width:100%;
	height:14vh;
	background-color:green;
	top:0px;
	left:0px;
	right:0px;
	}		
#brarhead {
    position:fixed;
    top: 0.8%;
	height:12vh;
	width:26%;
	left:37%;
	}
.tabcontent {
	display:none;/*element will be invisible*/
}
#basebg {
	top:0%;
	left:0%;
	z-index:-1;
	position:fixed;
	height:100%;
    width:100%;
    background-image:url("../assets/GridGreen.png")}
.base{
	display:none;
}
#overview {
	display:none;
}
#home {
	left: 0px;
	right: 0px;
	font-family: "Kingthings";
	font-size:2.5em;
	color:black;
	display:block;
	background-image: ("../assets/base.jpg");
	margin-left:15%;
	margin-right:2%;
	margin-top:19vh;
	text-shadow:
    -0.02em -0.02em 0 red,
    0.02em -0.02em 0 red,
    -0.02em 0.02em 0 red,
    0.02em 0.02em 0 red;
}
#biobg {
	top:0%;
	left:0%;
	z-index:-1;
	position:fixed;
	height:100%;
    width:100%;
    background-image:url("../assets/GridBlue.png");
}
#bio {
	left: 0px;
	right: 0px;
	font-family: "Cyberverse";
	font-size:2.5em;
	color:black;
	background-origin:inherit;
	text-align:justify;
	margin-top:19vh;
	margin-left:14%;
	text-shadow:
    -0.02em -0.02em 0 darkgoldenrod,
    0.02em -0.02em 0 darkgoldenrod,
    -0.02em 0.02em 0 darkgoldenrod,
    0.02em 0.02em 0 darkgoldenrod;
}
#at {
	font-family: "Kingthings";
}
#gamebg {
	top:0%;
	left:0%;
	z-index:-1;
	position:fixed;
	height:100%;
    width:100%;
    background-image:url("../assets/GridRed.png");/* if background image is too small to cover the background of element, it is then repeated again and again*/
	}
#gaming {
	left: 0px;
	right: 0px;
	font-family: "cybertron";
	font-size:2.5em;
	color:black;
	margin-top:21vh;
	text-align:justify;
	margin-left:12.5%;
	margin-right:0vw;
    }
.tags {
	max-width:20vw;
	max-height:20vh;
}
#aoctag.tags{
	position:absolute;
	right:10%;
	max-width:30vw;
	max-height:45vh;
}
#nltag.tags{
	position:absolute;
	right:10%;
	max-width:30vw;
	max-height:45vh;
}
#prtag.tags{
	top:23vh;
	position:absolute;
	right:1%;
	max-width:35vw;
	max-height:45vh;
}
#mwtag.tags{
	position:absolute;
	right:2%;
	max-width:40vw;
	max-height:45vh;
}
#ewtag.tags{
	position:absolute;
	right:5%;
	max-width:35vw;
	max-height:45vh;
}
#ftftag.tags {
	position:absolute;
	top:19vh;
	right:0%;
	max-height:33vh;
	max-width:28vw;
}
#satag.tags {
	position:absolute;
	right:15%;
	max-height:35vh;
	max-width:30vw;
}
.bots {
	position:absolute;
	width:15vw;
	height:20vw;
	display:none;
}
.bottext {
	cursor: default;
	-webkit-user-select:none;
    user-select:none; 
	/*to make unslectable or be highlight if user clicks twice or more*/
}
.bottext:hover {
	color: rgb(0,0,55);
}
#drift.bots {
	right:65vw;
}
#mv1.bots {
	right:49vw;
}
#shockwave.bots {
	right:33vw;
}
#soundwave.bots {
	right:17vw;
}
#rhinox.bots {
	right:1vw;
}
.hqhead {
	width:50%;
}
#intro.game{
	position:relative;
	text-shadow:
    -0.02em -0.02em 0 darksalmon,
    0.02em -0.02em 0 darksalmon,
    -0.02em 0.02em 0 darksalmon,
    0.02em 0.02em 0 darksalmon;
    }
#gstat {
	z-index:0;
	color:rgb(0,0,0);
	font-size:1.05em;
	font-family:"Starcraft";
}
#ftf.game{
	text-shadow:
    -0.02em -0.02em 0 goldenrod,
    0.02em -0.02em 0 goldenrod,
    -0.02em 0.02em 0 goldenrod,
    0.02em 0.02em 0 goldenrod;
}
#mw.game{
	font-family:"most wanted";
	text-shadow:
    -0.02em -0.02em 0 chocolate,
    0.02em -0.02em 0 chocolate,
    -0.02em 0.02em 0 chocolate,
    0.02em 0.02em 0 chocolate;
    }
#pr.game{
	text-shadow:
    -0.02em -0.02em 0 rgb(0,128,0),
    0.02em -0.02em 0 rgb(0,128,0),
    -0.02em 0.02em 0 rgb(0,128,0),
    0.02em 0.02em 0 rgb(0,128,0)
}	
#sa.game{
	text-shadow:
    -0.02em -0.02em 0 DodgerBlue,
    0.02em -0.02em 0 DodgerBlue,
    -0.02em 0.02em 0 DodgerBlue,
    0.02em 0.02em 0 DodgerBlue
}
#nl.game{
	text-shadow:
    -0.02em -0.02em 0 BurlyWood,
    0.02em -0.02em 0 BurlyWood,
    -0.02em 0.02em 0 BurlyWood,
    0.02em 0.02em 0 BurlyWood
}
#ew.game{
	text-shadow:
    -0.02em -0.02em 0 SlateGray,
    0.02em -0.02em 0 SlateGray,
    -0.02em 0.02em 0 SlateGray,
    0.02em 0.02em 0 SlateGray
}
#aoc.game{
	text-shadow:
    -0.02em -0.02em 0 Sienna,
    0.02em -0.02em 0 Sienna,
    -0.02em 0.02em 0 Sienna,
    0.02em 0.02em 0 Sienna
}
#schoolbg {
	top:0%;
	left:0%;
	z-index:-1;
	position:fixed;
	height:100%;
    width:100%;
    background-image:url("../assets/GridGold.png");
	}
#school {
	left: 0px;
	right: 0px;
	font-family: "aardvark cafe";
	font-size:2.5em;
	text-align:justify;
	margin-top:20vh;
	margin-left:14%;
	margin-right:4%;
    text-shadow:
    -0.02em -0.02em 0 royalblue,
    0.02em -0.02em 0 royalblue,
    -0.02em 0.02em 0 royalblue,
    0.02em 0.02em 0 royalblue;	
    }
#skoolhead {
	margin-left:-2.025%;
	font-size:1.75em
}
.tab {
	height:5vh;
	position:fixed;
	width:100vw;
	left:0px;
	top:14vh;
	border-left:solid;
	border-color:silver;
	border-width:1.25%;
    overflow: hidden;
    background-color: rgb(0,0,0);
}
.tab b{
	float: left;
    display: block;
    color: white;
	font-family:"batmanforeveralternate";
}
.tab button {
    float: left;
    display: block;
	border:none;
    color: white;
	font-size:2.25vh;
	height:100%;
	font-family:"batmanforeveralternate";
    text-align: center;
    padding: 0.75% 1%;
    text-decoration: overline;
	background-color: black;
}
/*------------------Active Buttons-------------------------------------*/
.tab button.greentab.active{
	color:black;
	background-color: green ;
	outline:none;
}
.tab button.bluetab.active{
	color:black;
	background-color: blue;
	outline:none;
}
.tab button.redtab.active{
	color:black;
	background-color: red;
	outline:none;
}
.tab button.goldtab.active{
	color:black;
	background-color:goldenrod ;
	outline:none;
}
/*------------------------Hovered inActive Buttons-------------------------------------*/
button.greentab:hover {
    background-color: darkgreen;
}
button.bluetab:hover {
    background-color: navy;
}
button.redtab:hover {
    background-color: darkred;
}
button.goldtab:hover {
    background-color: darkgoldenrod;
}
/*----------------------------------Hovered Active Buttons-------------------------------------*/
.tab button.greentab.active:hover{
	color:limegreen;
	background-color:darkgreen;
}
.tab button.bluetab.active:hover{
	color:dodgerblue;
	background-color: navy;
}
.tab button.redtab.active:hover{
	color:red;
	background-color: darkred;
}
.tab button.goldtab.active:hover{
	color:gold;
	background-color: darkgoldenrod;
}
/*--Below styles elements of class='ref' are given so below so that can override previously given style in their parent element(in which they lie inside--*/
span.rsb {
	font-size:1.025em;
	font-weight:bold;
}
span.ref {
	z-index:0;
	color:rgb(0,0,0);
	font-size:2em;
	letter-spacing:0.1em;
	text-transform: lowercase;
	font-family:"transformers";
	text-shadow:
    -0.04em -0.04em 0 seagreen,
    0.04em -0.04em 0 orangered,
    -0.04em 0.04em 0 cadetblue,
    0.04em 0.04em 0 goldenrod;
	
}
#table td , table , th{
    font-family: "TechnoClastic";
	font-size:0.84em;
	text-align:center;
	border-collapse: collapse;
	text-shadow:0px 0px 0 black;/*no shadow bcoz off-sets 0 px,defined to override shadows mentioned above */
}
#table td{
    border: 0.06em solid #ddd;
    padding: 0.25em;
}
#table tr:nth-child(odd){background-color: rgb(200,200,200);}/*odd rows 1,3,5*/
#table tr:nth-child(even){background-color: rgb(175,175,175);}/*even rows 2,4,6*/
#table td:hover {background-color: rgb(145,145,145);}
#table th {
	border-left:solid;
	border-right:solid;
	border-width:0.06em;
	border-color: rgb(200,200,200);
    padding: 0.5em;
    background-color: rgb(0,200,0);
    color: black;
}
#table th:hover {background-color: rgb(0,150,0);}
.insignia{
	font-family:"transdings";
}
.linktext{
	color:rgb(10,10,10);
}
.linktext:hover{
	color:rgb(50,50,50);
}
#lineid{
	visibility:hidden;
}
#lineh:hover + #lineid{
	visibility:visible;
}
.imagelink:hover{
	opacity: 0.75;
}
.smedia {
	width:17.5%;
}
.hometab {
	bottom:0px;
	height:81%;
	position:fixed;
	left:0px;
	width:12.45%;
	border-left:solid;
	border-color:forestgreen;
	border-width:1.13%;
    overflow: hidden;
    background-color: rgb(0,20,0);
}
.hometab button {
    float:right;
    display: block;
	width:100%;
	border:none;
    color: white;
	font-family:"batmanforeveralternate";
    text-align: center;
    padding: 4.75% 5.25%;
    text-decoration: overline;
	background-color: inherit;
}
.hometab button.insight{
	color:black;
	background-color: rgb(0,150,0) ;
	border-right:solid;
	border-color: darkgreen;
	outline:none;
	border-width:0.3em;
}
.hometab button:hover {
    background-color: green;
	color:limegreen;
}
.biotab {
	bottom:0px;
	height:81%;
	position:fixed;
	left:0px;
	width:12.45%;
	border-left:solid;
	border-color:rgb(0,0,225);
	border-width:1.13%;
    overflow: hidden;
    background-color: rgb(0,0,12);
}
.biotab button {
    float:right;
    display: block;
	width:100%;
	border:none;
    color: white;
	font-family:"batmanforeveralternate";
    text-align: center;
    padding: 4.75% 5.25%;
    text-decoration: overline;
	background-color: inherit;
}
.biotab button.bioactive{
	color:black;
	background-color: rgb(0,100,175) ;
	border-right:solid;
	border-color: navy;
	outline:none;
	border-width:0.3em;
}
.biotab button:hover {
    background-color: dodgerblue;
	color:blue;
}
.gametab {
	bottom:0px;
	height:81%;
	position:fixed;
	left:0px;
	width:12.45%;
	border-left:solid;
	border-color:rgb(180,14,3);
	border-width:1.13%;
    overflow: hidden;
    background-color: rgb(15,4,1);
}
.gametab button {
    float:right;
    display: block;
	width:100%;
	border:none;
    color: white;
	font-family:"batmanforeveralternate";
    text-align: center;
    padding: 4.75% 0.25%;
    text-decoration: overline;
	background-color: inherit;
}
.gametab button.online{
	color:black;
	background-color: rgba(240,15,3,0.9) ;
	border-right:solid;
	border-color: maroon;
	outline:none;
	border-width:0.3em;
}
.gametab button:hover {
    background-color: red;
	color:rgb(125,0,0);
}
.gamecontent {
	display:none;
}
.schooltab {
	bottom:0px;
	height:81%;
	position:fixed;
	left:0px;
	width:12.45%;
	border-left:solid;
	border-color:rgb(230,115,0);
	border-width:1.13%;
    overflow: hidden;
    background-color: rgb(26,12,0);
}
.schooltab button {
    float:right;
    display: block;
	width:100%;
	border:none;
    color: white;
	font-family:"batmanforeveralternate";
    text-align: center;
    padding: 4.75% 5.25%;
    text-decoration: overline;
	background-color: inherit;
}
.schooltab button.present{
	color:black;
	background-color: goldenrod;
	border-right:solid;
	border-color: darkkhaki;
	outline:none;
	border-width:0.3em;
}
.schooltab button:hover {
    background-color: gold;
	color:darkgoldenrod;
}
.subtabs{
	top:19vh;
}
/*-----------------Browser--- ScrollBar--------------------*/

body.greenbody::-webkit-scrollbar {
    width: 10px;
}
body.greenbody::-webkit-scrollbar-track {
	background-color:rgb(0,50,0);
}
body.greenbody::-webkit-scrollbar-thumb {
	background-size:10px; 
    background-image:url("../assets/ScrollGreen.png"); 
}
body.greenbody::-webkit-scrollbar-thumb:hover {
    background:rgb(0,0,0);
	background-size:10px; 
	background-image:url("../assets/ScrollGreen.png");
}
/*---------------------*/
body.bluebody::-webkit-scrollbar {
    width: 10px;
}
body.bluebody::-webkit-scrollbar-track {
	background-color:rgb(0,0,90);
}
body.bluebody::-webkit-scrollbar-thumb {
    background-image:url("../assets/ScrollBlue.png");
	background-size:10px;/*width only*/
}
body.bluebody::-webkit-scrollbar-thumb:hover {
    background:rgb(0,0,0);
	background-size:10px; 
    background-image:url("../assets/ScrollBlue.png");
}

/*---------------------*/
body.redbody::-webkit-scrollbar {
    width: 10px;
}
body.redbody::-webkit-scrollbar-track {
	background-color:rgb(60,0,0);
}
body.redbody::-webkit-scrollbar-thumb {
	background-size:10px; 
    background-image:url("../assets/ScrollRed.png"); 
}
body.redbody::-webkit-scrollbar-thumb:hover {
	background:rgb(0,0,0);
	background-size:10px; 
	background-image:url("../assets/ScrollRed.png");
}

/*------------------------------*/
body.goldbody::-webkit-scrollbar {
    width: 10px;
}
body.goldbody::-webkit-scrollbar-track {
	background-color:rgb(78,50,5);
}
body.goldbody::-webkit-scrollbar-thumb {
	background-size:10px; 
    background-image:url("../assets/ScrollGold.png"); 
}
body.goldbody::-webkit-scrollbar-thumb:hover {
	background:rgb(0,0,0);
	background-size:10px; 
	background-image:url("../assets/ScrollGold.png");
}
body.introbody::-webkit-scrollbar{
	width:0px;
}
/*-----------------------------*/
#welcomeground{
	position:fixed;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	z-index:3;
	opacity:0.95;
	animation: welcomeground 5s linear 1;
	background-color:rgb(0,0,0);
}
#welcometext{
	width:100vw;
	position:fixed;
	text-align:center;
	font-family:"Combatron";
	font-size:0vw;
	color:red;
	animation: welcome 3s linear 1;
	top:25vh;
}
.container {
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
}
.loader {
	top:40vh;
	float:center;
	position:relative;
	z-index:2;
	border: 12px solid slategray;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
	max-width:90vw;
	max-height:90vw;
    animation: spin 0.8s linear infinite;
	display:none;
}
#greenload{
    border-top: 12px solid rgb(0,200,0);
}
#blueload{
	border-top: 12px solid navy;
}
#redload{
	border-top: 12px solid red;
}
#goldload{
	border-top: 12px solid goldenrod;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes welcome{
	0% {color: firebrick; transform: rotate(0deg); font-size:18vw; top:30vh}
	6% {color:red; font-size:18vw; top:30vh}
	12% {color:orange; font-size:18vw; top:30vh}
	18% {color:yellow; font-size:18vw; top:30vh}
	25% {color:goldenrod; font-size:18vw; top:30vh}
	30% {color:limegreen; font-size:18vw; top:30vh}
	36% {color:green; font-size:18vw; top:30vh}
	42% {color:forestgreen; font-size:18vw; top:30vh}
	48% {color:navy; font-size:18vw; top:30vh}
	54% {color:blue; font-size:18vw; top:30vh}
	58% {color:dodgerblue; font-size:18vw; top:30vh}
	60% {color:skyblue; transform: rotate(0deg); font-size:18vw; top:30vh}
	80% {transform: rotate(0deg);}
	89% {transform: rotate(359deg);}
	90% {transform: rotate(1deg);} /*as security to prevent rotate backward*/
	100% {color:white; transform: rotate(360deg); font-size:0vw; top:50vh}
}
@keyframes welcomeground{
	0% {opacity:0.95;}
	60% {opacity:0.95;}
	100% {opacity:0;}
}
body {
	height:101vh;/*height 101 vh to give page little more height to scroll ,to prevent scrollbar to hide if page doesn't have enough content*/
	max-width:100vw;
	overflow-x:hidden; /*to avoid horizontal scrolling*/
}